* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product-slider-section--c {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
  width: 88%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* overflow: hidden; */
}

.products-content-section-header {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product-content--c {
    /* overflow-x: scroll; */
  width: 100%;
  /* display: flex; */
  column-gap: 0.5rem;
  /* row-gap: 1rem; */
  flex-direction: column;
}

.product-content-wrapper--c {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.3rem !important;
  /* justify-content: center; */
  /* align-items: center; */
  /* min-width: 300px; */
  /* min-width: 30vw; */
  /* max-width: 50vw; */

  width: 40vw;
}
.product-content-image--c {
  width: 100%;

  /* margin: 2rem 1rem; */
  position: relative;
}

.product-content-image-img {
  width: 100%;
}

.product-content-wrapper--c:hover .product-quick-show-btn-c {
  display: block;
  opacity: 1;
  transform: translateY(0px);
}
.product-quick-show-btn-c {
  opacity: 0;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0.75rem auto;
  padding: 0.5rem;
  border: none;

  color: aliceblue;
  background-color: #111111;
  position: absolute;
  bottom: 0;
  transform: translateY(5px);
  transition: opacity 0.5s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.product-meta-link-c {
  text-decoration: none;
  color: #000;
  text-align: center;
}
.product-title--c {
  padding-top: 10px;
}
.product-price--c {
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .product-slider-section--c {
    width: 92%;
  }

  .product-content-wrapper--c {
    width: 19.5vw;
    margin: 1rem 0rem;
  }
}
